.scroll li:nth-child(1) .text,
.scroll li:nth-child(1) .text em,
.scroll li:nth-child(1) .text span,
.scroll li:nth-child(1) .text p {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 0.6s ease-out forwards;
}

.scroll li:nth-child(1) .text em {
  animation-delay: 0.5s;
}
.scroll li:nth-child(1) .text span {
  animation-delay: 0.7s;
}

.scroll li:nth-child(1) .text p {
  animation-delay: 1s;
}
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.scroll li:nth-child(2) .text,
.scroll li:nth-child(2) strong,
.scroll li:nth-child(2) p {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUp 0.6s ease-out forwards;
}

.scroll li:nth-child(1) .text strong {
  animation-delay: 0.5s;
}

.scroll li:nth-child(2) .text p {
  animation-delay: 0.7s;
}
@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* visual */
.bimg,
.ssimg,
.social-wrap a,
.tv-box .tvImg {
  display: block;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #b0b0b0;
}
.bimg img,
.ssimg img,
.social-wrap a img,
.tv-box .tvImg img {
  border: 1px solid #b0b0b0;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  border-radius: 30px;
  object-fit: cover;
}

.bimg img:hover,
.ssimg img:hover,
.social-wrap a img:hover {
  transform: scale(1.1);
}
