.inner {
  padding: 40px 0;
  position: relative;
}

.customer {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 20px;
}

.customer strong {
  font-size: 20px;
  font-weight: 600;
}
.customer p {
  font-size: 14px;
  margin-bottom: 10px;
}
.customer .foot-btn {
  padding-top: 10px;
}
.customer .foot-btn span {
  border: 2px solid #fff;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}
.tel-btn,
.site-btn {
  cursor: pointer;
}
.foot-bottom {
  display: flex;
  flex-direction: column;
  color: #a9a9a9;
  position: relative;
  padding-top: 20px;
}
.foot-bottom::after {
  position: absolute;
  top: 5px;
  content: "";
  border: 1px solid #a9a9a9;
  width: 100%;
}
.foot-bottom .link-area {
  display: flex;
  margin-top: 20px;
}
.foot-bottom .link-area p {
  margin-right: 20px;
}

.tel-popup {
  background: #4b4b4b;
  color: #fff;
  padding: 30px 40px;
  position: absolute;
  z-index: 1000;
  top: -500px;
  left: 500px;
  translate: translateY(-50%);
  opacity: 0;
  transition: opacity 0.4s ;
}
.tel-popup.active {
  opacity: 1;
  visibility: visible;
}
.tel-popup .xi-close {
  position: absolute;
  padding: 20px;
  top: 20px;
  right: 30px;
}
.tel-popup ul {
  display: grid;
  gap: 0 40px;
  grid-template-columns: repeat(2, auto);
  flex-wrap: wrap;
}
.tel-popup ul li {
  padding-top: 20px;
}
.tel-popup strong {
  font-size: 20px;
  font-weight: 800;
}
.tel-popup span {
  font-weight: 600;
}
.tel-popup p {
  font-weight: 400;
}
