#main {
  margin-top: 100px;
}
#visual .ul-wrap {
  position: relative;
  overflow: hidden;
}
.scroll {
  position: relative;
  height: 676px;
  width: 100%;
}
.scroll li {
  position: absolute;
  background-position: 0 0;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 676px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.scroll li.show {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}
.scroll li img {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.scroll li.show img {
  opacity: 1;
}
.scroll li:nth-child(1) {
  background-image: url(../images/banner_visual_01.jpg);
}
.scroll li:nth-child(1) .text {
  position: absolute;
  top: 220px;
  left: 320px;
  text-align: center;
  margin-bottom: 20px;
}
.scroll li:nth-child(1) .text em {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.scroll li:nth-child(1) .text span {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
.scroll li:nth-child(1) .text strong {
  font-weight: 500;
}
.scroll li:nth-child(1) .text span::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 50%;
  height: 3px;
  background: rgb(218, 0, 0);
  width: 30px;
}
.scroll li:nth-child(1) .text p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}
.scroll li:nth-child(2) {
  background-image: url(../images/banner_visual_02.jpg);
}

.scroll li:nth-child(2) .text {
  position: absolute;
  max-width: 500px;
  right: 500px;
  top: 150px;
  color: white;
}
.scroll li:nth-child(2) strong {
  font-size: 40px;
  font-weight: 400;
  position: relative;
  line-height: 1.4;
}
.scroll li:nth-child(2) strong::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 5px;
  height: 3px;
  background: rgb(212, 255, 0);
  width: 30px;
}
.scroll li:nth-child(2) p {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
}
.pagination-btn {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.pagination-btn span {
  background: #ffffff;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.pagination-btn span.on {
  background: #a7a7a7;
}
.arrow {
  position: absolute;
  top: 40%;
  left: 100px;
}
.arrow .inner {
  width: 1700px;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: 80px;
}
.arrow .inner i,
.pagination-btn span {
  cursor: pointer;
  z-index: 99;
}
